*{
    padding: 0;
    margin: 0;
    font-family:"futura";
}
@font-face  {
    font-family: "futura";
    src: url(./assets/FUTURA55REGULAR.TTF);
}
@font-face {
    font-family: "futurabold";
    src: url(./assets/FUTURA75BOLD.TTF);
}
img{
    width: 100%;
}

.dropdown{
    display: none;
}

.underline,
.secondUnderline{
    height: 1px;
    background-color: #d3c8c8;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5% 3% 1.5% 3.5%;
    font-size: 19px;
    font-family: futura;
    font-weight: 600;
    letter-spacing: 1px;
}
nav a{
    color: #000;
    text-decoration: none;
}
nav li{
    list-style: none;
}
.ul{
    width: 90%;
    padding-left: 6%;
    padding-top: 0.5%;
}
#navlinks{
    display: flex;
    justify-content: space-between;
    /* gap: 10; */
}
nav ul{
    display: flex;
    /* justify-content: space-between; */
}
.links1{
    display: flex;
    justify-content: space-between;
    width: 53%;
    /* position: relative;
    left: 4%;
    gap: 6%;
    width: 38%; */
}
.links2{
    display:flex;
    justify-content: space-between;
    width: 25%;
    /* position: relative;
    left: 38%;
    gap: 4%;
    width: 22%; */
}
.headerImage{
    margin-left: 0.9%;
}

.headerImage1{
    display: none;
}

.more{
    color: #ff815b;
    display: flex;
    font-size: 19px;
}
.moreDropdown{
    padding: 2% 9% 2% 3.4%;
}
.moreDropdown h3{
    margin-bottom: 4px;
}
.moreDropdownh3{
    margin-bottom: 11px;
    font-size: 28px;
    letter-spacing: 1.3px;
}
.contentOneContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4%;
}
.contentOneContent a{
    text-decoration: none;
    color: #000;
    font-size: 21px;
}
.contentTwoContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.4%;
}
.contentTwoContent a{
    text-decoration: none;
    color: #000;
    font-size: 21px;
}
#aboutAbleton{
    color:#fd5948;
}
.plus{
    height: 18px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    filter: invert(48%) sepia(69%) saturate(452%) hue-rotate(326deg) brightness(111%) contrast(100%);
}
.minus{
    display:none;
    height: 21px;
    font-size: 12px;
    filter: invert(48%) sepia(69%) saturate(452%) hue-rotate(326deg) brightness(111%) contrast(100%);
}

.linkA a{
    color: blue;
}
.linkB{
    font-weight: lighter;
    font-family: "futurabold";
    font-size: medium;
    color: #212121;
    margin-top: 4px;
    padding-left: 5px;
}
/*footer*/

footer{
    padding: 7%;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.fH1{
    font-size: 55px;
    font-weight: 700;
}

.firstRow{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 8%;
    padding-bottom: 2%;
}

.firstRow a{
    color: #000;
    text-decoration: none;
}

.flexItem1{
    width: 35%;
    padding-top: 2%;
}

.flexItem3{
    width: 53%;
    padding-left: 3%;
}

.icons{
    display: flex;
    gap: 1%;
}


.twitter{
    background-color:none;
    color:black;
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}
.tiktok{
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}
.youtube{
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.instagram{
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.facebook{
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.secondRow{

    display: flex;
    gap: 11%;
    padding: 2% 0% 6% 0%;

}

.secondRow a{
    color: #000;
    text-decoration: none;
}
.signature{
    display: flex;
    width: 13%;
    justify-content: space-between;
}

.fLogo{
    width:30%;
    position: relative;
    top: 2px;
}

.Berlin{
    position: relative;
    top: 5px;
    font-size: 14px;
}


.thirdRow{
    display: flex;
    justify-content: space-between;
    font-weight: medium;
}

.thirdRow a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.contactLinks{
    width: 45%;
}
.contactLinks a{
    margin-left: 10px;
}
.for320{
    display: none;
}
#emailAndSignUp{
    display: block;
    margin-top: 30px;
}

.email{
    width: 72%;
    height: 38px;
    border: transparent;
    background-color: #dde2e1 ;
    padding-left: 3%;
}

.Sign{
    width: 23%;
    height: 38px;
    position: relative;
    right: 1.1%;
    background-color: blue;
    color: #ffffff;
    border: transparent;
    padding: 2%;
}

.heading{
    padding: 3%  3% 3% 0%;
}

.flexItem5{
    padding-top: 3%;
}

.flexItem4{

    width: 30%;
}

.lang{

    width: 40%;
    height: 37px;
    border: transparent;
    background-color: #dde2e1;

}

.location{

    width: 45%;
    height: 37px;
    border: transparent;
    background-color: #dde2e1;
}

.link3 a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
    margin-right: 6%;
}

.link3{
    position: relative;
    left: 1.5%; 
    width: 30%;
    padding: 1.6% 0% 0% 1%;
    z-index: 99;
}
#about{
    color: #fd5948;
    margin-right: 6%;
    margin-left: 2.2%;
}
#Apprenticeships{
    margin-left: 2.4%;
}
.page1{
    margin: 0px 5px 0px 6px;
}

.page1H1{
    font-size: 125px;
    position: absolute;
    z-index: 99;
    top: 37%;
    left:34%;
    color: #fd5948;
    font-family:serif;
}

.headerimg{
    padding: 2% 7.3% 2% 7.3%;
    position: relative;
    text-align: center;
}

.p1{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 29px;
    letter-spacing: 1px;
}
#link,
#note,
#live,
#push{
    color: blue;
    text-decoration: none;
}

.p2{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 35px;
    letter-spacing: 0.4px;
}

.middleImg{
    display: flex;
    padding: 0%;
}

.yellowDiv{
    background-color: #FBFFA7;
    position: relative;
    left:0%;
    padding: 17.4% 10% 15% 13%;
    width: 50%;
}
.Result{
    position: relative;
    left: 9%;
}

.traDiv{

    position: relative;
    left:8%;
    padding-top: 8%;
    z-index: 99;

}

.p3{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 28px;
    letter-spacing: 1.2px;
}

.p4{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 34px;
    letter-spacing: 0.5px;
}

.video{

    padding: 2% 26% 6% 25%;
}
.VideoPlay{
    position: relative;
    bottom: 120px;
}
#VideoPlayIcon{
    width: 130%;
    color: blue;
    height: 60px;
    background-color: #eb7652;
    filter: invert(13%) sepia(73%) saturate(4921%) hue-rotate(241deg) brightness(76%) contrast(140%);
}
.videoText{
    font-size: small;
}
.p5{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 29px;
    letter-spacing: 1px;
}

.p6{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.4px;
}

.threeIn1{

    display: flex;
    margin-bottom: 40px;
}

.img7{
    position: relative;
    right: 7.3%;
    padding-top: 18%;
    z-index: 99;
    width: 52%;
}

.twoImgContainer{
    width: 73%;
    background-color: rgb(172, 248, 195);
}


.img5{
    padding: 13% 29% 0% 14%;
}

.img6{

    padding: 16% 29% 15% 14%;

}


.p7{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 28px;
    letter-spacing: 1px;
}

.p8{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 33px;
}

.img8{

    padding: 3.2% 8.4% 3.2% 8.4%;

}

.p9{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 29px;
    letter-spacing: 1px;
}

.p10{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 0.4px;
}

.twoInOne{
    display: flex;
    position: relative;
}

.purpleBackground{
    width: 67%;
    background-color: #d5b3ff;
    height: 800px;
    position: relative;
    left: 17%;
}

.img9{
    z-index: 99;
    position: absolute;
    top: 33%;
    left: 8%;
}

.img10{
    z-index: 99;
    position: absolute;
    right: 0%;
    top: 20%;
}

.p11{
    line-height: 40px;
    padding: 6% 23% 0% 25%;
    font-size: 29px;
    letter-spacing: 1px;
}

.p12{
    padding: 2% 15% 6% 25%;
    font-size: 19px;
    line-height: 33px;
    letter-spacing: 0.4;
}

.uuuuuuu{
    display: block;
}

.img11{
    display: flex;
    padding: 0% 8.4% 0% 8.4%;
    z-index: 99;
    margin-bottom:9%;
}
.image11{
    display: none;
}
.abletonImage1{
    width:51%;
    display: block;
}

.bue{
    width: 50%;
    background-color:#b1c5ff;
    position: relative;
    bottom: 0px;
    height: 430px;
    margin-bottom: 0%;
}

.p13{

    position: relative;
    top: 105px; 
    text-align: center;
    font-size: 24px;
}

.p14link{

    padding-top:3%;
}

.p14link a{

    text-decoration: none;
}

.great{
    font-size: 1%;
}




/*desktop and large screen*/

@media screen  and (min-width : 1025px) and (max-width : 1200px){

    /* desktop and large screen*/


    ul{
        display: flex;
        list-style: none;
        width: 96%;
        padding: 2% 1% 1% 1%;
    }
    
    
    
    
    .links2{
        display:flex;
        position: relative;
        left: 30%;
        gap: 4%;
        width: 28%;
    }
    
    /*body*/

    .page1H1{
        font-size: 110px;
        position: absolute;
        z-index: 99;
        top: 34%;
        left:32%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        left:1%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .twoInOne{
        display: flex;
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 4%;
    }
    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    
    



    /* footer*/


    footer{

        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        
    }

   
    
    .Berlin{
        position: relative;
        left: 15%;
    }

    .fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    .icons{
        display: flex;
        gap: 4%;
        color:white;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .youtube{
        background-color: red;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .instagram{
        background-color: orangered;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .facebook{
        background-color: rgb(65, 65, 235);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }

    
    .firstRow{
       display: flex;
       justify-self: center;
       align-items: center;
       gap: 4%;
       padding-bottom: 2%;
    } 

    .flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    .flexItem1{
         padding-bottom: 3%;

    }
}



/* mobile phone */
@media screen  and (min-width : 320px) and (max-width : 480px){
   .wrapper{
        padding: 0px;
    }
    nav{
        display: none;
    }
    .menuDropdownIcon{
        width: 16px;
    }
      /* header*/
   .links{
        display: none;
    }
    .dropdown{
        display: flex;
    }
    .dropdown-content {
        display: block;
        position: absolute;
        top: -790px;
        background-color:#626265;
        width: 100%;
        overflow:auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:1 ;
        transition: 3.1s ease-in-out;
        overflow: hidden;
        padding-left: 5%;
        padding-bottom: 3%;
    }

    .dropbtn {
        padding: 5%  5% 5% 8%;
        font-size: 20px;
        border:none;
        background-color: transparent;
        z-index: 2;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        display: flex;
    }


    .dropdown-content a {
        color: whitesmoke;
        padding: 7px 5px;
        text-decoration: none;
        display: block;
        position: relative;
    }
      
    .show {display: block;}

   .increase-height{
        top: 0px;
        padding-top: 40px;
    }

    .down{
        font-size: 4%;
    }

    .headerLogo{
        padding: 6% 0% 0% 6%;
        z-index: 100;
    }


    .link3 a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
        margin:  3% 1% 3% 1%;
    }
    
    .link3{
        position: relative;
        left: 1.5%; 
        width: 78%;
        padding-top: 1.3%;
        padding-bottom: 2%;
        margin:  3% 1% 3% 1%;
        padding: 15px 0px;
    }
    .headerImage1{
        display: block;
    }
    
    .page1H1{
        font-size: 76px;
        position: absolute;
        z-index: 0;
        top: 38%;
        left:16%
    }

    .headerImage{
        display: none;
    }
    
    .headerimg{
        padding: 2% 7% 2% 7%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 28px;
        padding: 8% 7% 2% 7%;
        font-size: 18px;
    }
    
    .p2{
        line-height: 23px;
        padding: 3% 7% 2% 7%;
        font-size: 18px;
    }
    
    .middleImg{
        display: flex;
        padding-top: 20px;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        padding: 50px 0px;
        width: 58%;
        position: relative;
        left: 0%;
        margin-left: 0%;
    }
    
    .traDiv{
        position: relative;
        left:9%;
        padding-top: 21px;
        z-index: 99;
        width: 44%;
    }
    .machines{
        position: relative;
        left: 7;
    }
    .Result{
        width: 57%;
        position: relative;
        left: 50px;
    }
    .p3{
        line-height: 28px;
        padding: 8% 7% 2% 7%;
        font-size: 18px;
    }
    
    .p4{
        line-height: 23px;
        padding: 3% 7% 2% 7%;
        font-size: 18px;
    }
    
    .video{
    
        padding: 8%;
    }
    
    .p5{
        line-height: 28px;
        padding: 8% 7% 2% 7%;
        font-size: 18px;
    }
    
    .p6{
        line-height: 23px;
        padding: 3% 7% 2% 7%;
        font-size: 18px;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 28px;
        padding: 2% 7% 2% 7%;
        font-size: 18px;
    }
    
    .p8{
        line-height: 23px;
        padding: 3% 7% 5% 7%;
        font-size: 18px;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }

    .p9{
        line-height: 28px;
        padding: 8% 7% 2% 7%;
        font-size: 18px; 
    }
    
    .p10{
        line-height: 23px;
        padding: 3% 7% 6% 7%;
        font-size: 18px;
    }
    
    .twoInOne{
        display: flex;
        position:relative;
        margin: 5% 0% 5% 0%;
        height: 202px;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: #d5b3ff;
        height: 200px;
        position: absolute;
        left: 15%;
    }
    br{
        display: none;
    }
    .img9{
        z-index: 99;
        position: relative;
        top: 48px;
        left: 5%;
        margin: 2%;
        width: 33%;
    }
    
    .img10{
        z-index: 99;
        position: relative;
        left: 21%;
        width: 40%;
        margin: 0% 0% 0% 0%;
    }
    
    .p11{
        line-height: 28px;
        padding: 8% 7% 2% 7%;
        font-size: 18px; 
    }
    
    .p12{
        line-height: 23px;
        padding: 3% 7% 6% 7%;
        font-size: 18px;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 4.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 460px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 15px;
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }

    /* footer*/


    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 3% 2% 3%;
    }

    .fH1{
        font-size: 35px;
        font-weight: 600;
        padding: 3% 4% 0% 4%;
    }
    
    .flexItem5{
        display:none ;
    }
    .firstRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: medium;
    }
    
    .email{
        width: 50%;
        height: 45px;
        border: transparent;
        background-color: #dde2e1 ;
        padding-left: 7%;
        margin-top: 5%;
        font-size: medium;
    }

    .Sign{
        width: 40%;
        height: 44px;
        position: relative;
        right: 2%;
        background-color: blue;
        color: #ffffff;
        border: transparent;
        padding: 2%;
        font-size: medium;
    }
    
    .flexItem1{
        width: 90%;
        padding-top: 5%;
    }
    
    .flexItem3{
        width: 95%;
        font-size: small;
    }
    .heading{
        padding: 4%  3% 2% 0%;
        font-size: medium;
        font-weight: 600;
    }

    .flexItem2{

        width: 90%;
    }

    .secondRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: medium;

    }

    .flexItem4{

        width: 99%;
    }
    .lang{
        width: 50%;
    }

    .location{
        width: 70%;
    }

    /*.thirdRow{
        display: flex;
        gap: 2%;
        font-weight: 700;
        width: 40%;
    }
    
    .thirdRow a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }*/
    
   


    .icons{
        display: flex;
        gap: 3%;
        color:white;
        padding-bottom: 3%;
        padding-top: 5%;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 12.5%;
        height: 27px;
        padding: 7px;
        font-size: 30px;
    }
    
    .youtube{
        background-color: red;
        width: 12.5%;
        height: 27px;
        padding: 6px  8px 8px 5px;
        font-size: 30px;
    }
    
    .instagram{
        background-color: orangered;
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }
    
    .facebook{
        background-color: rgb(4, 102, 231);
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
     } 

    .thirdRow{
        display:block;
        width: 70px;
        padding: 2%;
        margin-top: 3%;
    } 

    .thirdRow a{
        margin: 9% 1% 9% 1% ;
    }

    .Berlin{
        display: none;
    }
    .fLogo{
        display: none;
    }

    flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    flexItem1{
        padding-bottom: 3%;

    }

    .for320{
        display:block;
    }


}

@media screen  and (min-width : 480px) and (max-width : 768px){

    ul{
        display: flex;
        list-style: none;
        width: 94%;
        padding: 5% 1% 1% 2%;
    }
    
    .more{
        display: none;
    }

    .link3 a{
        color: #000;
        text-decoration: none;
        font-size: 17px;
        margin-left: 3%;
    }
    
    .link3{
        position: relative;
        left: 1.5%; 
        width: 50%;
        padding-top: 1.3%;
        padding-bottom: 1.3%;
    }

    .page1H1{
        font-size: 65px;
        position: absolute;
        top: 38%;
        left:34%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: small;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: small;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        right:2%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: small;
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    /*.twoInOne{
        display: flex;+6
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 4%;
    }*/

    .twoInOne{
        display: flex;
        position: relative;
        padding: 12px 0% 13px 0%;
    }
    
    .purpleBackground{
        width: 76%;
        background-color: rgb(199, 142, 247);
        height: 390px;
        position: absolute;
        left: 15%;
        bottom: 14%;
    }
    
    .img9{
        z-index: 99;
        position: relative;
        top: 45px;
        left: 1%;
        margin: 2%;
        bottom: 13px;
    }
    
    .img10{
        z-index: 99;
        position: relative;
        right:0.4px ;
        margin: 8% 0% 4% 6%;
        
    }


    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83.1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
        font-size: small;
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    
    

    .Berlin{
        position: relative;
        left: 5%;
    }
    

    .fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: -1%;
        height: 30px;
    }

    .for320{
        display: none;
    }

    .links2{
        display:none;
    }


    .links1{
        display: flex;
        position: relative;
        left: 5%;
        gap: 8%;
        width: 40%;
    }

    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 3% 2% 3%;
    }

    .fH1{
        font-size: 35px;
        font-weight: 600;
        padding: 3% 4% 0% 4%;
    }
    
    
    .firstRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: large;
    }
    
    .email{
        width: 50%;
        height: 45px;
        border: transparent;
        background-color: #dde2e1 ;
        padding-left: 7%;
        margin-top: 5%;
        font-size: large;
    }

    .Sign{
        width: 40%;
        height: 44px;
        position: relative;
        right: 2%;
        background-color: blue;
        color: #ffffff;
        border: transparent;
        padding: 2%;
        font-size: large;
    }
    
    .flexItem1{
        width: 90%;
        padding-top: 5%;
    }
    
    .flexItem3{
        width: 95%;
        font-size: large;
    }
    .heading{
        padding: 4%  3% 2% 0%;
        font-size: medium;
        font-weight: 600;
    }

    .flexItem2{

        width: 90%;
    }

    .secondRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size:large ;

    }

    .flexItem4{

        width: 99%;
    }
    .lang{
        width: 50%;
    }

    .location{
        width: 70%;
    }

    /*.thirdRow{
        display: flex;
        gap: 2%;
        font-weight: 700;
        width: 40%;
    }
    
    .thirdRow a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }*/
    
    Berlin{
        position: relative;
        left: 15%;
    }

    fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    .icons{
        display: flex;
        gap: 3%;
        color:white;
        padding-bottom: 3%;
        padding-top: 5%;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 12.5%;
        height: 27px;
        padding: 7px;
        font-size: 30px;
    }
    
    .youtube{
        background-color: red;
        width: 12.5%;
        height: 27px;
        padding: 6px  8px 8px 5px;
        font-size: 30px;
    }
    
    .instagram{
        background-color: orangered;
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }
    
    .facebook{
        background-color: rgb(4, 102, 231);
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
    } 

    .thirdRow{
        display:block;
        width: 15%;
        padding-left: 3%;
        
    } 

    .flexItem4{
        width: 79%;
        padding-bottom: 30px;
    }

    .lang{
        width: 30%;
    }

    .location{
        width: 40%;
    }
}




@media screen  and (min-width : 769px) and (max-width : 1024px){

    ul{
        display: flex;
        list-style: none;
        width: 96%;
        padding: 3.3% 1% 1% 1%;
    }
    

    
    .links1{
        display: flex;
        position: relative;
        left: 3%;
        gap: 4%;
        width: 35%;
    }
    
    
    .links2{
        display:flex;
        position: relative;
        left: 27%;
        gap: 4%;
        width: 34%;
    }

    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 16% 2% 2%;
    }

   
    
    .Berlin{
        position: relative;
        left: 5%;
    }

    fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    icons{
        display: flex;
        gap: 4%;
        color:white;
    }
    
    
    twitter{
        background-color: rgb(29, 139, 190);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    youtube{
        background-color: red;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    instagram{
        background-color: orangered;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    facebook{
        background-color: rgb(65, 65, 235);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
     } 

     .thirdRow{
        display:block;
        width: 10%;
     } 

    flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    flexItem1{
        padding-bottom: 3%;

    }

    .for320{
        display: none;
    }

    .page1H1{
        font-size: 100px;
        position: absolute;
        z-index: 99;
        top: 30%;
        left:30%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        left:1%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .twoInOne{
        display: flex;
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 2%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 1%;
        top: 20%;
    }
    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    


}