*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
img{
    width: 100%;
}

.dropdown{
    display: none;
}

.underline,
.secondUnderline{
    height: 1px;
    background-color: #d3c8c8;
}

ul{
    display: flex;
    list-style: none;
    width: 96%;
    padding: 2% 1% 1% 1%;
}

header{
    height: 80px;
}

header a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 5%;
    color: #000;
}

.headerImage1{
    display: none;
}

.links1{
    display: flex;
    position: relative;
    left: 4%;
    gap: 6%;
    width: 38%;
}

.links2{
    display:flex;
    position: relative;
    left: 38%;
    gap: 4%;
    width: 22%;
}

.more{
    color: #FF764D;
    border: transparent;
    background-color: transparent;
}

.linkA a{
    color: blue;
}

/*footer*/

footer{
    padding: 8%;
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
}

.fH1{
    font-size: 55px;
    font-weight: 700;
}

.firstRow{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 8%;
    padding-bottom: 2%;
}

.firstRow a{
    color: #000;
    text-decoration: none;
}

.flexItem1{
    width: 35%;
    padding-top: 2%;
}

.flexItem3{
    width: 53%;
}

.icons{
    display: flex;
    gap: 4%;
}


.twitter{
    background-color: rgb(29, 139, 190);
    color:white;
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.youtube{
    background-color: red;
    color:white;
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.instagram{
    background-color: orangered;
    color:white;
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.facebook{
    background-color: rgb(65, 65, 235);
    color:white;
    width: 18%;
    height: 40px;
    padding: 5px;
    font-size: 38px;
}

.secondRow{

    display: flex;
    gap: 7%;
    padding: 2% 0% 6% 0%;

}

.secondRow a{
    color: #000;
    text-decoration: none;
}


.fLogo{
    width: 4%;
    position: relative;
    left: 22%;
}

.Berlin{

    position: relative;
    left: 22%;

}


.thirdRow{
    display: flex;
    gap: 2%;
    font-weight: 700;
}

.thirdRow a{
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.for320{
    display: none;
}

.email{
    width: 75%;
    height: 37px;
    border: transparent;
    background-color: #dde2e1 ;
}

.Sign{
    width: 22%;
    height: 41px;
    position: relative;
    right: 1.2%;
    background-color: blue;
    color: #ffffff;
    border: transparent;
    padding: 2%;
}

.heading{
    padding: 3%  3% 3% 0%;
}

.flexItem5{
    padding-top: 1%;
}

.flexItem4{

    width: 30%;
}

.lang{

    width: 40%;
    height: 37px;
    border: transparent;
    background-color: #dde2e1;

}

.location{

    width: 45%;
    height: 37px;
    border: transparent;
    background-color: #dde2e1;
}

.link3 a{
    color: #000;
    text-decoration: none;
    font-size: 17px;
    margin-left: 3%;
}

.link3{
    position: relative;
    left: 1.5%; 
    width: 30%;
    padding-top: 1.3%;
}

.page1H1{
    font-size: 130px;
    position: absolute;
    z-index: 99;
    top: 38%;
    left:34%
}

.headerimg{
    padding: 2% 7.3% 2% 7.3%;
    position: relative;
    text-align: center;
    color: #eb7652;
}

.p1{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p2{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.middleImg{
    display: flex;
    padding: 2%;
}

.yellowDiv{
    background-color: #FBFFA7;
    position: relative;
    left:1%;
    padding: 15% 15% 17% 15%;
}

.traDiv{

    position: relative;
    left:8%;
    padding-top: 9%;
    z-index: 99;

}

.p3{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p4{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.video{

    padding: 1% 15% 6% 15%;
}

.p5{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p6{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.threeIn1{

    display: flex;
}

.img7{
    position: relative;
    right: 7.3%;
    padding-top: 18%;
    z-index: 99;
    width: 52%;
}

.twoImgContainer{
    width: 73%;
    background-color: rgb(172, 248, 195);
}


.img5{
    padding: 13% 29% 0% 14%;
}

.img6{

    padding: 16% 29% 15% 14%;

}


.p7{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p8{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.img8{

    padding: 3.2% 8.4% 3.2% 8.4%;

}

.p9{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p10{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.twoInOne{
    display: flex;
    position: relative;
}

.purpleBackground{
    width: 70%;
    background-color: rgb(187, 170, 189);
    height: 700px;
    position: relative;
    left: 17%;
}

.img9{
    z-index: 99;
    position: absolute;
    top: 25%;
    left: 10%;
}

.img10{
    z-index: 99;
    position: absolute;
    right: 4%;
    top: 20%;
}

.p11{
    line-height: 40px;
    padding: 6% 15% 0% 15%;

}

.p12{
    padding: 1% 15% 6% 15%;
    line-height: 40px;
}

.uuuuuuu{
    display: block;
}

.img11{
    padding: 3.2% 8.4% 0% 8.4%;
    z-index: 99;
}

.bue{
    width: 83,1%;
    background-color:rgb(159, 195, 218);
    padding: 0% 8.5% 3.5% 8.4%;
    position: relative;
    bottom: 5px;
    height: 300px;
    margin-bottom: 15%;
}

.p13{

    position: relative;
    top: 105px;

}

.p14link{

    padding-top:3%;
}

.p14link a{

    text-decoration: none;
}

.great{
    font-size: 1%;
}




/*desktop and large screen*/

@media screen  and (min-width : 1025px) and (max-width : 1200px){

    /* desktop and large screen*/


    ul{
        display: flex;
        list-style: none;
        width: 96%;
        padding: 2% 1% 1% 1%;
    }
    
    
    
    
    .links2{
        display:flex;
        position: relative;
        left: 30%;
        gap: 4%;
        width: 28%;
    }
    
    /*body*/

    .page1H1{
        font-size: 110px;
        position: absolute;
        z-index: 99;
        top: 34%;
        left:32%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        left:1%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .twoInOne{
        display: flex;
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 4%;
    }
    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    
    



    /* footer*/


    footer{

        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        
    }

   
    
    .Berlin{
        position: relative;
        left: 15%;
    }

    .fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    .icons{
        display: flex;
        gap: 4%;
        color:white;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .youtube{
        background-color: red;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .instagram{
        background-color: orangered;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    .facebook{
        background-color: rgb(65, 65, 235);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }

    
    .firstRow{
       display: flex;
       justify-self: center;
       align-items: center;
       gap: 4%;
       padding-bottom: 2%;
    } 

    .flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    .flexItem1{
         padding-bottom: 3%;

    }
}



/* mobile phone */


@media screen  and (min-width : 320px) and (max-width : 480px){

    .wrapper{
        padding: 4%;
    }

     /* header*/

     .links{
        display: none;
    }

    .dropdown{
        display: block;
    }

    .dropdown-content {
        display: block;
        position: absolute;
        top: -790px;
        background-color:#5252c9;
        width: 100%;
        overflow:auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index:1 ;
        transition: 3.1s ease-in-out;
        overflow: hidden;
    }

    .dropbtn {
        padding: 5%  5% 5% 8%;
        font-size: 20px;
        border:none;
        background-color: transparent;
        z-index: 2;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 26px;
        font-weight: 400;
        position: relative;
    }


    .dropdown-content a {
        color: whitesmoke;
        padding: 7px 5px;
        text-decoration: none;
        display: block;
        position: relative;
    }
      
    .show {display: block;}

   .increase-height{
        top: 0px;
        padding-top: 40px;
    }

    .down{
        font-size: 4%;
    }

    .headerLogo{
        padding-left: 6%;
        z-index: 100;
    }


    .link3 a{
        color: #000;
        text-decoration: none;
        font-size: 17px;
        margin:  0% 5% 0% 5%;
    }
    
    .link3{
        position: relative;
        left: 1.5%; 
        width: 98%;
        padding-top: 1.3%;
        padding-bottom: 2%;
    }

    .headerImage1{
        display: block;
    }
    
    .page1H1{
        font-size: 40px;
        position: absolute;
        z-index: 0;
        top: 38%;
        left:22%
    }

    .headerImage{
        display: none;
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .p2{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        left:1%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .p4{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .p6{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .p8{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }

    .p9{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small; 
    }
    
    .p10{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .twoInOne{
        display: flex;
        position: relative;
        padding: 5% 0% 5% 0%;
    }
    
    .purpleBackground{
        width: 76%;
        background-color: rgb(199, 142, 247);
        height: 220px;
        position: absolute;
        left: 15%;
    }
    
    .img9{
        z-index: 99;
        position: relative;
        top: 45px;
        left: 1%;
        margin: 2%;
    }
    
    .img10{
        z-index: 99;
        position: relative;
        left: 6%;
        margin: 8% 0% 4% 6%;
    }
    
    .p11{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    
    }
    
    .p12{
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 4.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 460px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 15px;
        line-height: 40px;
        padding: 8% 11% 2% 11%;
        font-size: small;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }

    /* footer*/


    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 3% 2% 3%;
    }

    .fH1{
        font-size: 35px;
        font-weight: 600;
        padding: 3% 4% 0% 4%;
    }
    
    .flexItem5{
        display:none ;
    }
    .firstRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: medium;
    }
    
    .email{
        width: 50%;
        height: 45px;
        border: transparent;
        background-color: #dde2e1 ;
        padding-left: 7%;
        margin-top: 5%;
        font-size: medium;
    }

    .Sign{
        width: 40%;
        height: 44px;
        position: relative;
        right: 2%;
        background-color: blue;
        color: #ffffff;
        border: transparent;
        padding: 2%;
        font-size: medium;
    }
    
    .flexItem1{
        width: 90%;
        padding-top: 5%;
    }
    
    .flexItem3{
        width: 95%;
        font-size: small;
    }
    .heading{
        padding: 4%  3% 2% 0%;
        font-size: medium;
        font-weight: 600;
    }

    .flexItem2{

        width: 90%;
    }

    .secondRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: medium;

    }

    .flexItem4{

        width: 99%;
    }
    .lang{
        width: 50%;
    }

    .location{
        width: 70%;
    }

    /*.thirdRow{
        display: flex;
        gap: 2%;
        font-weight: 700;
        width: 40%;
    }
    
    .thirdRow a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }*/
    
   


    .icons{
        display: flex;
        gap: 3%;
        color:white;
        padding-bottom: 3%;
        padding-top: 5%;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 12.5%;
        height: 27px;
        padding: 7px;
        font-size: 30px;
    }
    
    .youtube{
        background-color: red;
        width: 12.5%;
        height: 27px;
        padding: 6px  8px 8px 5px;
        font-size: 30px;
    }
    
    .instagram{
        background-color: orangered;
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }
    
    .facebook{
        background-color: rgb(4, 102, 231);
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
     } 

    .thirdRow{
        display:block;
        width: 70px;
        padding: 2%;
        margin-top: 3%;
    } 

    .thirdRow a{
        margin: 9% 1% 9% 1% ;
    }

    .Berlin{
        display: none;
    }
    .fLogo{
        display: none;
    }

    flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    flexItem1{
        padding-bottom: 3%;

    }

    .for320{
        display:block;
    }


}

@media screen  and (min-width : 480px) and (max-width : 768px){

    ul{
        display: flex;
        list-style: none;
        width: 94%;
        padding: 5% 1% 1% 2%;
    }
    
    .more{
        display: none;
    }

    .link3 a{
        color: #000;
        text-decoration: none;
        font-size: 17px;
        margin-left: 3%;
    }
    
    .link3{
        position: relative;
        left: 1.5%; 
        width: 50%;
        padding-top: 1.3%;
        padding-bottom: 1.3%;
    }

    .page1H1{
        font-size: 65px;
        position: absolute;
        top: 38%;
        left:34%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: small;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: small;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        right:2%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: small;
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    /*.twoInOne{
        display: flex;+6
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 10%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 4%;
    }*/

    .twoInOne{
        display: flex;
        position: relative;
        padding: 12px 0% 13px 0%;
    }
    
    .purpleBackground{
        width: 76%;
        background-color: rgb(199, 142, 247);
        height: 390px;
        position: absolute;
        left: 15%;
        bottom: 14%;
    }
    
    .img9{
        z-index: 99;
        position: relative;
        top: 45px;
        left: 1%;
        margin: 2%;
        bottom: 13px;
    }
    
    .img10{
        z-index: 99;
        position: relative;
        right:0.4px ;
        margin: 8% 0% 4% 6%;
        
    }


    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
        font-size: medium;
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
        font-size: medium;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83.1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
        font-size: small;
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    
    

    .Berlin{
        position: relative;
        left: 5%;
    }
    

    .fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: -1%;
        height: 30px;
    }

    .for320{
        display: none;
    }

    .links2{
        display:none;
    }


    .links1{
        display: flex;
        position: relative;
        left: 5%;
        gap: 8%;
        width: 40%;
    }

    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 3% 2% 3%;
    }

    .fH1{
        font-size: 35px;
        font-weight: 600;
        padding: 3% 4% 0% 4%;
    }
    
    
    .firstRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size: large;
    }
    
    .email{
        width: 50%;
        height: 45px;
        border: transparent;
        background-color: #dde2e1 ;
        padding-left: 7%;
        margin-top: 5%;
        font-size: large;
    }

    .Sign{
        width: 40%;
        height: 44px;
        position: relative;
        right: 2%;
        background-color: blue;
        color: #ffffff;
        border: transparent;
        padding: 2%;
        font-size: large;
    }
    
    .flexItem1{
        width: 90%;
        padding-top: 5%;
    }
    
    .flexItem3{
        width: 95%;
        font-size: large;
    }
    .heading{
        padding: 4%  3% 2% 0%;
        font-size: medium;
        font-weight: 600;
    }

    .flexItem2{

        width: 90%;
    }

    .secondRow{
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 8%;
        padding-bottom: 2%;
        line-height: 35px;
        padding: 8% 1% 2% 3%;
        font-size:large ;

    }

    .flexItem4{

        width: 99%;
    }
    .lang{
        width: 50%;
    }

    .location{
        width: 70%;
    }

    /*.thirdRow{
        display: flex;
        gap: 2%;
        font-weight: 700;
        width: 40%;
    }
    
    .thirdRow a{
        color: #000;
        text-decoration: none;
        font-size: 15px;
    }*/
    
    Berlin{
        position: relative;
        left: 15%;
    }

    fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    .icons{
        display: flex;
        gap: 3%;
        color:white;
        padding-bottom: 3%;
        padding-top: 5%;
    }
    
    
    .twitter{
        background-color: rgb(29, 139, 190);
        width: 12.5%;
        height: 27px;
        padding: 7px;
        font-size: 30px;
    }
    
    .youtube{
        background-color: red;
        width: 12.5%;
        height: 27px;
        padding: 6px  8px 8px 5px;
        font-size: 30px;
    }
    
    .instagram{
        background-color: orangered;
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }
    
    .facebook{
        background-color: rgb(4, 102, 231);
        width: 12.4%;
        height: 27px;
        padding: 6px 6px 8px 8px;
        font-size: 30px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
    } 

    .thirdRow{
        display:block;
        width: 15%;
        padding-left: 3%;
        
    } 

    .flexItem4{
        width: 79%;
        padding-bottom: 30px;
    }

    .lang{
        width: 30%;
    }

    .location{
        width: 40%;
    }
}




@media screen  and (min-width : 769px) and (max-width : 1024px){

    ul{
        display: flex;
        list-style: none;
        width: 96%;
        padding: 3.3% 1% 1% 1%;
    }
    

    
    .links1{
        display: flex;
        position: relative;
        left: 3%;
        gap: 4%;
        width: 35%;
    }
    
    
    .links2{
        display:flex;
        position: relative;
        left: 27%;
        gap: 4%;
        width: 34%;
    }

    footer{
        display: block;
        font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,
        "Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        padding: 8% 16% 2% 2%;
    }

   
    
    .Berlin{
        position: relative;
        left: 5%;
    }

    fLogo{
        width: 5%;
        display: block;
        position: relative;
        left: 15%;
        height: 30px;
    }


    icons{
        display: flex;
        gap: 4%;
        color:white;
    }
    
    
    twitter{
        background-color: rgb(29, 139, 190);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    youtube{
        background-color: red;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    instagram{
        background-color: orangered;
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }
    
    facebook{
        background-color: rgb(65, 65, 235);
        width: 16%;
        height: 28px;
        padding: 7px;
        font-size: 28px;
    }

    
    .firstRow{
       display:block;
       
    } 

    .secondRow{
        display:block;
        
     } 

     .thirdRow{
        display:block;
        width: 10%;
     } 

    flexItem3{
        width: 63%;
        margin-left: 6%;
        padding-bottom: 2%;
    }
    
    flexItem1{
        padding-bottom: 3%;

    }

    .for320{
        display: none;
    }

    .page1H1{
        font-size: 100px;
        position: absolute;
        z-index: 99;
        top: 30%;
        left:30%
    }
    
    .headerimg{
        padding: 2% 7.3% 2% 7.3%;
        position: relative;
        text-align: center;
        color: #eb7652;
    }
    
    .p1{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p2{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .middleImg{
        display: flex;
        padding: 2%;
    }
    
    .yellowDiv{
        background-color: #FBFFA7;
        position: relative;
        left:1%;
        padding: 15% 15% 17% 15%;
    }
    
    .traDiv{
    
        position: relative;
        left:8%;
        padding-top: 9%;
        z-index: 99;
    
    }
    
    .p3{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p4{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .video{
    
        padding: 1% 15% 6% 15%;
    }
    
    .p5{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p6{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .threeIn1{
    
        display: flex;
    }
    
    .img7{
        position: relative;
        right: 7.3%;
        padding-top: 18%;
        z-index: 99;
        width: 52%;
    }
    
    .twoImgContainer{
        width: 73%;
        background-color: rgb(172, 248, 195);
    }
    
    
    .img5{
        padding: 13% 29% 0% 14%;
    }
    
    .img6{
    
        padding: 16% 29% 15% 14%;
    
    }
    
    
    .p7{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p8{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .img8{
    
        padding: 3.2% 8.4% 3.2% 8.4%;
    
    }
    
    .p9{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p10{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .twoInOne{
        display: flex;
        position: relative;
    }
    
    .purpleBackground{
        width: 70%;
        background-color: rgb(187, 170, 189);
        height: 700px;
        position: relative;
        left: 17%;
    }
    
    .img9{
        z-index: 99;
        position: absolute;
        top: 25%;
        left: 2%;
    }
    
    .img10{
        z-index: 99;
        position: absolute;
        right: 1%;
        top: 20%;
    }
    
    .p11{
        line-height: 40px;
        padding: 6% 15% 0% 15%;
    
    }
    
    .p12{
        padding: 1% 15% 6% 15%;
        line-height: 40px;
    }
    
    .uuuuuuu{
        display: block;
    }
    
    .img11{
        padding: 3.2% 8.4% 0% 8.4%;
        z-index: 99;
    }
    
    .bue{
        width: 83,1%;
        background-color:rgb(159, 195, 218);
        padding: 0% 8.5% 3.5% 8.4%;
        position: relative;
        bottom: 5px;
        height: 300px;
        margin-bottom: 15%;
    }
    
    .p13{
    
        position: relative;
        top: 105px;
    
    }
    
    .p14link{
    
        padding-top:3%;
    }
    
    .p14link a{
    
        text-decoration: none;
    }
    
    .great{
        font-size: 1%;
    }
    


}